# Local development environment variables
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DOCKERHUB_USERNAME=
IMAGE_TAG=latest
POSTGRES_CONNECTION_STRING=Host=db;Database=;Username=;Password=;Port=5432