Bror <broh@itu.dk> <64813210+SneekySnek@users.noreply.github.com>
Bror <broh@itu.dk> <bror@live.dk>
Carl <cfth@itu.dk> Carl <cfth@itu.dk>
Carl <csti@itu.dk> csti <csti@itu.dk>
Carl <csti@itu.dk> cstiitu <csti@itu.dk>
Carl <csti@itu.dk> <161447248+cstiitu@users.noreply.github.com>
Mikkel <mikcl@itu.dk> <151669394+ITU-mikcl@users.noreply.github.com>
Konrad <koad@itu.dk> Konradmeno <57835836+Konradmeno@users.noreply.github.com>
LLM <none> ChatGPT
LLM <none> ChatGPT <chatgpt@openai.com>